ِADF/factory/pipeline/noteficiton.json
{
	"name": "noteficiton",
	"properties": {
		"activities": [
			{
				"name": "Execute_daily_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StackOverflow-Daily",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Successed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_daily_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "\thttps://dummy.restapiexample.com/api/v1/create",
					"body": {
						"value": "@activity('Execute_daily_pipeline').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_daily_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "\thttps://dummy.restapiexample.com/api/v1/create",
					"body": {
						"value": "@activity('Execute_daily_pipeline').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}