ADF/pipeline/notification.json
{
	"name": "notification",
	"properties": {
		"activities": [
			{
				"name": "Execute_weekly_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StackOverflowETL_weekly",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "success_execute_Weekly",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_weekly_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-08.eastus.logic.azure.com:443/workflows/ad904e5de2714a9c8991e4a04c8019d8/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=warDjBSsaCj89ca-y6sFvgvS1J09PWR6Lpuz4gHxgMs",
					"body": {
						"value": "{\n  \"title\": \"Weekly Pipeline SUCCEEDED!\",\n  \"message\": \"Weekly Pipeline run finished successfully!\",\n  \"color\": \"Green\",\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"time\": \"@{utcnow()}\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filed_execute_Weekly",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_weekly_pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-08.eastus.logic.azure.com:443/workflows/ad904e5de2714a9c8991e4a04c8019d8/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=warDjBSsaCj89ca-y6sFvgvS1J09PWR6Lpuz4gHxgMs",
					"body": {
						"value": "{\n    \"title\": \" Weekly Pipeline Failed!\",\n    \"message\": \"@{activity('Execute_weekly_pipeline').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_daily_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StackOverflowETL_daily",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "success_execute_Daily",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_daily_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-08.eastus.logic.azure.com:443/workflows/ad904e5de2714a9c8991e4a04c8019d8/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=warDjBSsaCj89ca-y6sFvgvS1J09PWR6Lpuz4gHxgMs",
					"body": {
						"value": "{\n    \"title\": \"Daily Pipeline SUCCEEDED!\",\n    \"message\": \"Weekly Pipeline run finished successfully!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filed_execute_Daily",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_daily_pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-08.eastus.logic.azure.com:443/workflows/ad904e5de2714a9c8991e4a04c8019d8/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=warDjBSsaCj89ca-y6sFvgvS1J09PWR6Lpuz4gHxgMs",
					"body": {
						"value": "{\n    \"title\": \" Daily Pipeline Failed!\",\n    \"message\": \"@{activity('Execute_daily_pipeline').error.message}\",\n    \"color\": \"Reed\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}